@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
/* font-family: "Manrope", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /************ PRIMARY ************/
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  /*************** NEUTRAL ************/
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue);
  min-height: 100vh;
  padding: 0 1.5rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-grayish-blue);
  padding: 1.5rem 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
  letter-spacing: 0.2rem;
  color: var(--neon-green);
}

#advice_text {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--light-cyan);
}

.pattern-divider {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.pattern-divider img {
  width: 100%;
  max-width: 425px;
}

.dice-img {
  display: flex;
  align-items: center;
  margin-bottom: -3.1rem;
  transform: translateY(9%);
  background-color: var(--neon-green);
  padding: 1.2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.animation {
  animation: glow 1s ease-in-out infinite alternate;
}

.dice-img.glow-effect:hover {
  box-shadow: 0 0 30px var(--neon-green);
  transition: 0.2s ease;
}

@keyframes glow {
  from {
    box-shadow: 0 0 20px var(--neon-green);
  }
  to {
    box-shadow: 0 0 5px var(--neon-green);
  }
}

@keyframes text-animation {
  0% {
    width: 0px;
    height: 0px;
  }
  10% {
    width: 50px;
    height: 0px;
  }
  60% {
    width: 100px;
    height: 100px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
